---
permalink: /404.html
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>

  <p><strong>Página no encontrada :(</strong></p>
  <p>No se pudo encontrar la página solicitada.</p>
</div>
<script>
  var timer = setTimeout(function() {
    window.location='http://resumen.abrahamperez.ga'
  }, 3000);
</script>