<div class="remove-container container-block">
<!--<h2 class="container-block-title">Hoja de vida</h2>-->
    <h2 class="container-block-title"></h2>
<ul class="list-unstyled interests-list">
<!--<a target="_blank" href="https://www.youtube.com/watch?v=Jnmj1dXDbNk"><li>Cómo utilizar?</li></a>-->
<!--<a target="_blank" href="https://www.abrahamperez.ga/resumen.pdf"><li>Descargue mi resumen/CV aquí</li></a>-->
    <li>«Para elegir el camino es necesario conocerse a uno mismo»<p><cite>(John D. Rockefeller)</cite></p></li>
    <li>«Llegar juntos es el principio; mantenerse juntos es el progreso; trabajar juntos es el éxito»<p><cite>(Henry Ford)</cite></p></li>
</ul>
</div><!--//About-->