{% if site.data.projects %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-rocket"></i>Otras Competencias</h2>

  {% if site.data.projects.intro %}
  <div class="intro">
      <p>{{ site.data.projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in site.data.projects.projects %}
    <div class="item">

      <span class="project-title"><a href="{{ project.link }}">{{ project.title }}</a></span>

      {% if project.tagline %}
      - <span class="project-tagline">{{ project.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
