<!-- Use icons from fontawesome when you are adding new item in the contact list  -->
<div class="sidebar-wrapper">

   <div class="profile-container">

       <img class="profile-img" src="{{site.baseurl}}/assets/images/{{ site.pic }}" alt="Abraham Perez García" />

       {% if site.name %}
       <h1 class="name">{{site.name}}</h1>
       {% endif %}

       {% if site.tagline %}
       <h3 class="tagline">{{site.tagline}}</h3>
       {% endif %}

       {% if site.registro %}
       <h3 class="degree">{{site.registro}}</h3>
       {% endif %}

   </div><!--//profile-container-->

   <div class="contact-container container-block">
       <ul class="list-unstyled contact-list">

           {% if site.website %}
           <li class="website"><i class="fa fa-home"></i><a href="http://{{site.website}}" target="_blank">{{site.website}}</a></li>
           {% endif %}

          {% if site.email %}
           <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{site.email}}">{{site.email}}</a></li>
           {% endif %}

           {% if site.phone %}
           <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{site.phone}}">{{site.phone}}</a></li>
           {% endif %}

           {% if site.mobile %}
           <li class="mobile"><i class="fa fa-mobile"></i><a href="tel:{{site.mobile}}">{{site.mobile}}</a></li>
           {% endif %}

           <!--{% if site.linkedin %}
           <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://linkedin.com/in/{{site.linkedin}}" target="_blank">{{site.linkedin}}</a></li>
           {% endif %}-->

           {% if site.whatsapp %}
           <li class="whatsapp"><i class="fa fa-whatsapp"></i><a href="https://api.whatsapp.com/send?phone={{site.whatsapp}}" target="_blank">Whatsapp</a></li>
           {% endif %}

           <!--{% if site.github %}
           <li class="github"><i class="fa fa-github"></i><a href="http://github.com/{{site.github}}" target="_blank">{{site.github}}</a></li>
           {% endif %}-->

           <!--{% if site.facebook %}
           <li class="facebook"><i class="fa fa-facebook"></i><a href="http://facebook.com/{{site.facebook}}" target="_blank">{{site.facebook}}</a></li>
           {% endif %}-->

           {% if site.facebook %}
           <li class="facebook"><i class="fa fa-facebook"></i><a href="https://www.facebook.com/abraham.perez.16121471" target="_blank">{{site.facebook}}</a></li>
           {% endif %}

           <!--{% if site.twitter %}
           <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/{{site.twitter}}" target="_blank">{{site.twitter}}</a></li>
           {% endif %}-->

           {% if site.home %}
           <li class="twitter"><i class="fa fa-map-marker"></i><a href="https://goo.gl/maps/9iQQNbQRiYYTJVyp6" target="_blank">{{site.home}}</a></li>
           {% endif %}

       </ul>
   </div><!--//contact-container-->

  {% if site.education_in_main == null or site.education_in_main == false %}
    {% include education.html %}
  {% endif %}
  {% include language.html %}
  {% include interests.html %}
  {% if site.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
