{% if site.data.skills %}
<section class="skills-section section">

  <!--<h2 class="section-title"><i class="fa fa-rocket"></i>Habilidades &amp; Competencia</h2>-->
    <h2 class="section-title"><i class="fa fa-rocket"></i>Competencias profesionales</h2>

  <div class="skillset">

    {% for skill in site.data.skills %}
    <div class="item">

      <h3 class="level-title">{{ skill.name }}</h3>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
