{% if site.data.skills %}
<section class="skills-section section">

  <!--<h2 class="section-title"><i class="fa fa-product-hunt"></i>Software - Programas</h2>-->
    <h2 class="section-title"><i class="fa fa-laptop"></i>Software - Programas</h2>

  <div class="skillset">

    {% for soft in site.data.soft %}
    <div class="item">

      <h3 class="level-title">{{ soft.name }}</h3>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ soft.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
